<amp-sidebar id="sidebar-left" class="sidebar" layout="nodisplay" side="left">
  <nav class="site-nav">
    {% comment %}
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% endcomment %}

    {% for link in site.links %}
      {% if link.external %}
          <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ link.url }}" target="_blank">{{ link.title }}</a>
      {% else %}
          <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</amp-sidebar>
